:root {
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-white: #FFFFFF;
  --basic-neutral: #EEEEEE;
  --basic-brown: #766357;
  --middle-brown: #604E43;
  --dark-brown: #503E33;
  --special: #81B3D2;
  --special-gray: #F2F2F2;
  --aside-gray: #888888;
  --dark-gray: #EBEBEB;
  --middle-special: #669EC0;
  --dark-special: #5496BD;
  --transparent-white: rgba(255,255,255,0.3);
  --light-gray: #E5E5E5;
  --transparent-black: rgba(0,0,0,0.3);
  --gray: #666666;
}
.page-body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--special-gray);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.center {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}
.page {
  height: 100%;
}
.main-header {
  display: grid;
  grid-template-rows: min-content 1fr;
}
.main-header-logo {
  order: 1;
  justify-self: center;
}
.main-navigation {
  margin: 15px 73px;
  line-height: 26px;
  font-weight: bold;
}
.site-navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation li:first-of-type,
.site-navigation li:nth-of-type(2) {
  text-align: left;
}
.site-navigation li:last-of-type,
.site-navigation li:nth-last-of-type(2) {
  text-align: right;
}
.site-navigation a {
  text-decoration: none;
  color: var(--basic-black);
  padding: 0;
}
.site-navigation .active {
  color: var(--basic-brown);
}
.site-navigation a:hover {
  color: var(--special);
}
.site-navigation a:focus {
  opacity: 0.3;
}
.main-content {
  display: grid;
}
.main-content h1,
.picture h2,
.features h2,
.map h2 {
  display: none;
}
.picture {
  display: flex;
  flex-direction: column;
  margin-bottom: 51px;
}
.picture h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 0 10px;
}
.picture p {
  line-height: 26px;
  color: var(--basic-dark);
  padding: 0 10px;
}
.picture img {
  max-width: 100%;
  height: auto;
  margin-bottom: 21px;
}
.features {
  margin-bottom: 58px;
}
.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-list li:nth-of-type(5) {
  margin-top: 82px;
}
.features-item h3 {
  font-size: 21px;
  font-weight: bold;
}
.item-pic {
  grid-column: 1 / -1;
  display: grid;
  min-height: 256px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  color: var(--basic-white);
  background-color: var(--special);
}
.item-pic p {
  grid-column: 1 / 2;
}
.item-pic h3 {
  grid-column: 1 / 2;
  align-self: end;
}
.item-pic img {
  display: block;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}
.item-img {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.item-img img {
  order: -1;
  justify-self: center;
}
.item-part p {
  color: var(--basic-dark);
}
.item-last {
  display: grid;
  min-height: 256px;
  grid-template-rows: 1fr min-content 1fr;
  background-color: var(--basic-neutral);
}
.item-last h3 {
  align-self: end;
}
.search h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
}
.search-desc {
  line-height: 24px;
  color: var(--basic-dark);
}
.search {
  display: grid;
  grid-template-rows: repeat(3, min-content) 1fr;
}
.button-search {
  width: 568px;
  height: 86px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  justify-self: center;
  margin-top: 24px;
}
.button-search:hover {
  background-color: var(--middle-brown);
}
.button-search:focus,
.button-search:active {
  color: var(--transparent-white);
  background-color: var(--dark-brown);
}
.search-form {
  background-color: var(--basic-white);
  width: 568px;
  justify-self: center;
}
.search-form-wrapper {
  margin: 55px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.search-form-wrapper p,
.search-form-wrapper .button-get {
  grid-column: 1 / -1;
}
.search-form-wrapper p:nth-last-of-type(2) {
  grid-column: 1 / 2;
}
.search-form-wrapper p:last-of-type {
  grid-column: 2 / -1;
}
.search-form-wrapper p {
  margin: 0;
}
.label-desc {
  font-weight: bold;
  line-height: 26px;
  border: none;
}
.search-date, .control {
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--special-gray);
  border: none;
}
.search-date {
  width: 346px;
  margin-bottom: 30px;
}
.search-date:hover {
  background-color: var(--dark-gray);
  border: none;
}
.search-date:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--light-gray);
}
.control {
  text-align: center;
}
.button-control {
  background-color: var(--special-gray);
  border: none;
}
.button-get {
  background-color: var(--special);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
  width: 458px;
  height: 58px;
  justify-self: center;
  margin-top: 54px;
}
.button-get:hover {
  background-color: var(--middle-special);
}
.button-get:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--dark-special);
}
.main-footer {
  background-color: var(--basic-white);
  opacity: 0.9;
  padding-bottom: 36px;
  padding-top: 23px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-contacts {
  margin-left: 73px;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 9px;
}
.footer-contacts a {
  display: block;
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: underline;
}
.footer-contacts h2,
.footer-socials h2 {
  display: none;
}
.footer-socials {
  justify-self: center;
  align-self: end;
}
.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.socials a {
  padding-right: 6px;
}
.footer-copyright {
  line-height: 26px;
  margin-right: 73px;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.catalog-filters {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 73px;
}
.filter {
  padding: 0;
  margin: 0;
  border: none;
}
.filter-ul {
  list-style: none;
}
.filter legend {
  font-size: 16px;
  font-weight: bold;
}
.filter-range input {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 2px solid var(--basic-white);
}
.button-show {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
}
.button-show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: none;
}
.catalog-sort {
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  padding: 0 73px;
}
.sort-list,
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.catalog-sort p:first-of-type {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 0 10px;
  width: 117px;
  justify-self: start;
}
.catalog-sort p:nth-of-type(2) {
  font-size: 12px;
  line-height: 18px;
  padding: 0 10px;
}
.sort-list a {
  color: var(--transparent-black);
  font-size: 12px;
  line-height: 18px;
  text-decoration-color: var(--special);
}
.sort-list .active-sort {
  color: var(--special);
  text-decoration: none;
}
.sort-list .active-sort:hover {
  text-decoration: underline;
  text-decoration-color: var(--special);
}
.sort-list a:hover {
  color: var(--special);
}
.sort-list a:focus,
.sort-list a:active {
  color: var(--basic-black);
  text-decoration: none;
}
.catalog-list {
  padding: 0 73px;
}
.item {
  color: var(--basic-dark);
  display: grid;
  grid-template-columns: 135px 1fr 110px;
}
.item-wrapper-one {
  justify-self: start;
  padding-left: 29px;
}
.item img {
  padding: 30px 0;
}
.item-p {
  color: var(--gray);
  background-color: var(--special-gray);
}
.item a {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
}
.item a:hover {
  color: var(--special);
}
.item a:focus,
.item a:active {
  color: var(--transparent-black);
}
.item a.button-item {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--special);
  border: none;
  width: 110px;
  height: 27px;
}
.item a.button-item:hover {
  background-color: var(--middle-special);
}
.item a.button-item:focus,
.item a.button-item:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--dark-special);
}
.item a.button-booking {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  width: 142px;
  height: 27px;
}
.item a.button-booking:hover {
  background-color: var(--middle-brown);
}
.item a.button-booking:focus,
.item a.button-booking:active {
  color: var(--transparent-white);
  background-color: var(--dark-brown);
}


