:root {
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-white: #FFFFFF;
  --basic-neutral: #EEEEEE;
  --basic-brown: #766357;
  --middle-brown: #604E43;
  --dark-brown: #503E33;
  --special: #81B3D2;
  --special-gray: #F2F2F2;
  --aside-gray: #888888;
  --dark-gray: #EBEBEB;
  --middle-special: #669EC0;
  --dark-special: #5496BD;
  --transparent-white: rgba(255,255,255,0.3);
  --light-gray: #E5E5E5;
  --transparent-black: rgba(0,0,0,0.3);
  --gray: #666666;
  --gray-logo: #BDBBBC;
  --gray-disabled: #6A6A6A;
}
.page-body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--special-gray);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.center {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}
.page {
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  display: grid;
  grid-template-rows: min-content 1fr;
  position: relative;
}
.main-header-logo {
  order: 1;
  justify-self: center;
  position: absolute;
  left: 531px;
  top: 0;
}
.main-navigation {
  padding: 15px 73px;
  line-height: 26px;
  font-weight: bold;
}
.site-navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation li:first-of-type,
.site-navigation li:nth-of-type(2) {
  text-align: left;
}
.site-navigation li:last-of-type,
.site-navigation li:nth-last-of-type(2) {
  text-align: right;
}
.site-navigation a {
  text-decoration: none;
  color: var(--basic-black);
  padding: 0;
}
.site-navigation .active {
  color: var(--basic-brown);
}
.site-navigation a:hover {
  color: var(--special);
}
.site-navigation a:focus {
  opacity: 0.3;
}
.main-content {
  display: grid;
}
.picture {
  display: flex;
  flex-direction: column;
  margin-bottom: 51px;
}
.picture h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 0 10px;
}
.picture p {
  line-height: 26px;
  color: var(--basic-dark);
  padding: 0 10px;
}
.picture img {
  max-width: 100%;
  height: auto;
  margin-bottom: 21px;
}
.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-item h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  padding: 47px 10px 25px;
}
.features-item p {
  margin: 0;
  padding: 0;
}
.features-item .features-item-p {
  padding: 25px 10px 54px;
}
.features-item .features-item-p-icon {
  padding: 0 10px 81px;
}
.features-item .features-item-h3-icon {
  padding-top: 160px;
  position: relative;
}
.icon-left::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url("../images/icon/icon_house.svg");
  background-repeat: no-repeat;
}
.icon-middle::before {
  content: "";
  position: absolute;
  top: 61px;
  left: 162px;
  width: 75px;
  height: 70px;
  background-image: url("../images/icon/icon_eat.svg");
  background-repeat: no-repeat;
}
.icon-right::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 168px;
  width: 64px;
  height: 77px;
  background-image: url("../images/icon/icon_gift.svg");
  background-repeat: no-repeat;
}
.item-pic {
  grid-column: 1 / -1;
  min-height: 256px;
  color: var(--basic-white);
  background-color: var(--special);
  display: grid;
}
.item-pic-wrapper-left {
  padding-left: 39px;
  justify-self: start;
}
.item-pic-wrapper-right {
  padding-right: 39px;
  justify-self: end;
}
.item-pic-wrapper {
  position: relative;
}
.item-pic-wrapper-left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 400px;
  width: 800px;
  height: 256px;
  background-image: url("../images/background_town.jpg");
  background-repeat: no-repeat;
}
.item-pic-wrapper-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 400px;
  width: 800px;
  height: 256px;
  background-image: url("../images/background_bridge.jpg");
  background-repeat: no-repeat;
}
.item-img {
  display: grid;
  grid-template-rows: repeat(2, min-content);
}
.item-img img {
  order: -1;
  justify-self: center;
}
.item-part p {
  color: var(--basic-dark);
}
.item-last {
  display: grid;
  min-height: 256px;
  grid-template-rows: repeat(2, min-content) 1fr;
  background-color: var(--basic-neutral);
}
.item-last h3 {
  align-self: end;
}
.search h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  padding: 58px 10px 38px;
}
.search-desc {
  margin: 0;
  padding: 0 10px 38px;
  line-height: 24px;
  color: var(--basic-dark);
}
.search {
  display: grid;
  grid-template-rows: repeat(3, min-content) 1fr;
}
.button-search {
  width: 568px;
  padding: 30px 125px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  justify-self: center;
  margin: 0;
}
.button-search:hover {
  background-color: var(--middle-brown);
}
.button-search:focus,
.button-search:active {
  color: var(--transparent-white);
  background-color: var(--dark-brown);
}
.search-form {
  background-color: var(--basic-white);
  width: 568px;
  justify-self: center;
}
.search-form-wrapper {
  margin: 55px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.search-form-wrapper p,
.search-form-wrapper .button-get {
  grid-column: 1 / -1;
}
.search-form-wrapper p:nth-last-of-type(2) {
  grid-column: 1 / 2;
}
.search-form-wrapper p:last-of-type {
  grid-column: 2 / -1;
}
.search-form-wrapper p {
  margin: 0;
}
.label-desc {
  font-weight: bold;
  line-height: 26px;
  border: none;
}
.search-date, .control {
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--special-gray);
  border: none;
}
.search-date {
  margin-bottom: 30px;
  padding: 6px 10px;
  width: 326px;
}
.search-date:hover {
  background-color: var(--dark-gray);
  border: none;
}
.search-date:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--light-gray);
}
.control {
  text-align: center;
  padding: 6px 10px;
}
.button-control {
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--special-gray);
  border: none;
  padding: 6px 10px;
}
.button-get {
  background-color: var(--special);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  width: 458px;
  padding: 16px 182px;
  justify-self: center;
  margin-top: 54px;
}
.button-get:hover {
  background-color: var(--middle-special);
}
.button-get:focus,
.button-get:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--dark-special);
}
.main-footer {
  background-color: var(--basic-white);
  opacity: 0.9;
  padding: 23px 0 36px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-contacts {
  margin-left: 73px;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 9px;
}
.footer-contacts a {
  display: block;
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: underline;
}
.footer-socials {
  justify-self: center;
  align-self: end;
}
.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.socials a {
  padding-right: 6px;
}
.social-button:hover rect,
.social-button:hover .path1{
  fill: var(--middle-special);
}
.social-button:focus path,
.social-button:active path {
  fill: rgba(255,255,255,0.3);
}
.social-button:focus rect,
.social-button:active rect,
.social-button:focus .path1,
.social-button:active .path1 {
  fill: var(--dark-special);
}
.footer-copyright {
  line-height: 26px;
  margin-right: 73px;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.button:hover path {
  fill: var(--special);
}
.button:focus path,
.button:active path {
  fill: var(--gray-logo);
}
.catalog-filters {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 254px 485px 1fr;
  padding: 26px 73px 32px;
}
.filter {
  padding: 0;
  margin: 0;
  border: none;
  text-align: left;
}
.filter-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filter-ul li {
  padding-bottom: 25px;
  padding-left: 39px;
}
.filter-ul li:last-of-type {
  padding-bottom: 0;
}
.filter legend {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 24px;
}
.filter-checkbox label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../images/checkbox-icon/checkbox-off.svg");
  background-repeat: no-repeat;
}
.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../images/checkbox-icon/checkbox-on.svg");
  background-repeat: no-repeat;
}
.filter-input-checkbox + label:hover::before {
  background-image: url("../images/checkbox-icon/checkbox-off.svg");
}
.filter-input-checkbox + label:disabled::before {
  background-image: url("../images/checkbox-icon/checkbox-off-disabled.svg");
}
.filter-input-checkbox:checked + label:hover::before {
  background-image: url("../images/checkbox-icon/checkbox-on.svg");
}
.filter-input-checkbox:checked + label:disabled::before {
  background-image: url("../images/checkbox-icon/checkbox-on-disabled.svg");
}
.filter-range legend {
  padding-bottom: 10px;
}
.filter-range {
  position: relative;
}
.price-controls input {
  width: 100%;
  margin: 0;
  padding: 5px 0;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 2px solid var(--basic-white);
}
.price-controls .filter-start {
  border-right: none;
}
.price-controls .filter-limit {
  border-left: none;
}
.price-controls input::placeholder {
  color: var(--basic-white);
}
.filter-price {
  width: 316px;
}
.price-controls {
  display: flex;
}
.range-controls {
  position: relative;
  height: 34px;
  background-color: transparent;
  padding-top: 20px;
}
.range-controls .scale {
  height: 2px;
  background-color: var(--transparent-white);
}
.range-controls .bar {
  width: 79%;
  height: 2px;
  background-color: var(--basic-white);
}
.range-controls .toggle {
  position: absolute;
  left: 0;
  top: 11px;
  width: 19px;
  height: 21px;
  padding: 0;
  background-image: url("../images/toggle/toggle.svg");
  cursor: pointer;
}
.range-controls .toggle-max {
  left: 252px;
}
.range-controls .toggle:hover {
  width: 23px;
  height: 24px;
  background-image: url("../images/toggle/toggle-hover.svg");
}
.button-show {
  position: absolute;
  left: 89px;
  bottom: 0;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  width: 137px;
  padding: 5px 0;
}
.button-show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: none;
}
.catalog-sort {
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  padding: 29px 73px 31px;
}
.sort-list,
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.catalog-sort p {
  margin: 0;
}
.catalog-sort .catalog-sort-p-all {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 0;
  padding-right: 46px;
  width: 117px;
  justify-self: start;
}
.catalog-sort .catalog-sort-p {
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  padding-right: 40px;
}
.sort-list {
  display: flex;
  justify-content: flex-start;
}
.sort-list a {
  color: var(--transparent-black);
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline dotted var(--special);
  padding-right: 32px;
}
.sort-list .active-sort {
  color: var(--special);
  text-decoration: none;
}
.sort-list .active-sort:hover {
  text-decoration: underline dotted var(--special);
}
.sort-list a:hover {
  color: var(--special);
}
.sort-list a:focus,
.sort-list a:active {
  color: var(--basic-black);
  text-decoration: none;
}
.item {
  color: var(--basic-dark);
  display: grid;
  grid-template-columns: 135px 1fr 110px;
  padding: 30px 73px;
  border-top: 1px solid var(--light-gray);
}
.item:last-of-type {
  border-bottom: 1px solid var(--light-gray);
}
.item-wrapper-one {
  justify-self: start;
  padding-left: 29px;
  display: grid;
  grid-template-columns: 1fr 142px;
  grid-template-rows: repeat(2, 1fr) min-content;
  column-gap: 6px;
}
.item-wrapper-one a {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.item-wrapper-one .item-a-title {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}
.item-wrapper-one .button-booking {
  grid-column: 2 / -1;
}
.item-wrapper-one p {
  text-align: left;
  margin: 0;
  grid-row: 2 / 3;
}
.item-wrapper-one .wrapper-p {
  grid-column: 1 / 2;
}
.item-wrapper-one .wrapper-p-price {
  grid-column: 2 / -1;
}
.item img {
  padding: 0;
}
.title-item {
  margin: 0;
  text-align: left;
  font-size: 21px;
  line-height: 26px;
}
.item-p {
  color: var(--gray);
  background-color: var(--special-gray);
}
.item-wrapper p {
  margin: 0;
}
.item a {
  color: var(--basic-black);
  font-weight: bold;
  text-decoration: none;
}
.item a:hover {
  color: var(--special);
}
.item a:focus,
.item a:active {
  color: var(--transparent-black);
}
.item a.button-item {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--special);
  border: none;
  padding: 3px 0;
  width: 110px;
}
.item a.button-item:hover {
  background-color: var(--middle-special);
}
.item a.button-item:focus,
.item a.button-item:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--dark-special);
}
.item a.button-booking {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  border: none;
  padding: 3px 16px;
  /*width: 142px;
  height: 27px;*/
}
.item a.button-booking:hover {
  background-color: var(--middle-brown);
}
.item a.button-booking:focus,
.item a.button-booking:active {
  color: var(--transparent-white);
  background-color: var(--dark-brown);
}


